input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
